body{
    color: rgb(255, 250, 250);
    text-align: center;
    background-color: #37f0c8;
}
.subtitulo{
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}
.actividades{
    background-color: #000000;}
.negro{
    color: #101111;
}